{% extends 'base.html.twig' %}

{% block title %}Liste des personnes!{% endblock %}

{% block body %}
<table class="table"   style="margin : auto;" >
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">Date de Naissance</th>
        </tr>
    </thead>
        {%  set taille ='80px' %}
        {% for pers in listepersonnes %}
            <tr>
                <td>
                {{ pers.id }}
                </td>
                <td>
                {{ pers.nom }}
                </td>
                <td>
                    {{ pers.prenom }}
                    </td>
                <td>
                {{ pers.dateNaiss| date('d-m-Y')}}
                </td>
              
        </tr>
        {% endfor %}
    </table>
{% endblock %}